h1 {
    color: #006699;
}

label {
    font-size: 1em;
    font-weight: bold;
    color: #006699;
}

tr:nth-child(even) {
    background-color: #006699;
    color: #fff;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #006699;
}